<div id="sidebar" xmlns:th="http://www.thymeleaf.org" > <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
    <ul>
      <li class="submenu"><i class="icon icon-th"></i> <span><a th:href="@{/admin/thongKe}">Thống kê</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i><span> <a th:href="@{/admin/studentManager}">Quản lý học viên</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/teacherManager}">Quản lý giáo viên</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/courseManager}">Quản lý khoá học</a></span></li>
       <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/quanLiBaoCao}">Quản lý báo cáo</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/confirmTeacher}">Xác nhận giáo viên</a></span></li>
    </ul>
  </div>