.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    /* top: 130%; */
}