<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CreateAccountTeacher</title>
<link rel="stylesheet" href="account/css/style3.css">
<link rel="stylesheet"
	href="account/fontawesome-free-5.11.1-web/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<h1>Khôi phục mật khẩu</h1>
<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="/recoverPassword" method="POST" onsubmit="return validation()">
				<input type="hidden" name="role" th:value="${role}">
				<h2>Khôi phục tài khoản</h2>
				<b>Nhập mật khẩu mới!</b> <input type="password" name="password" id="password"
					required />
					<b>Nhập mật khẩu mới!</b>`
					<input type="text" id="rePassword"
					required />
				<p id="error" style="color: red"></p>
				<button type="submit" class="btn btn-success">Tiếp tục</button>
			</form>
		</div>
	</div>
	<script>
	function validation(){
	var pass1 = $("#password").val();
	var pass2 = $("#rePassword").val();
	if (pass1 != pass2) {
		$("#password").val("");
		$("#rePassword").val("");
		$("#error").html('Password is not match!');
		return false;
	}
	}
	
	</script>
</body>
</html>